Repository team-bohumme/bohumme-client: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier

eslint:
  run: npx eslint {staged_files} --fix
  stage_fixed: true

prettier:
  run: npx prettier --write {staged_files}
  stage_fixed: true

docs: README.md에 Git Flow 및 피쳐 브랜치에 대한 설명 추가, 팀 그라운드 룰 제목 변경
  README.md
Due: prettier

docs: README.md에서 BOFIT 제목의 형식 수정
  README.md
Due: prettier

docs: README.md에서 Git Flow 섹션의 설명을 개선하고 형식을 정리함
  README.md
Due: prettier

docs: BOFIT 팀 컨벤션 제목을 BOFIT-CLIENT로 변경
  README.md
Due: prettier

docs: BOFIT 팀 기술 스택 섹션에 링크 추가
  README.md
Due: prettier

Update README.md
  README.md
Due: prettier

docs: BOFIT 팀 기술 스택 제목 수정 및 링크 형식 변경
  README.md
Due: prettier

feat: auto build workflow 작성
  .github/workflows/node.js.yml
Due: none

fix: build 파일 수정
  .github/workflows/build.js.yml
Due: none

fix: build 미감 넣기
  .github/workflows/build.js.yml
Due: none

fix: build 테스트
  .github/workflows/build.js.yml
Due: none

fix: build pnpm cache 제거
  .github/workflows/build.js.yml
Due: none

feat: build pnpm cache store 코드 작성
  .github/workflows/build.js.yml
Due: none

fix: build pnpm cache store 코드 제거
  .github/workflows/build.js.yml
Due: none

feat: jenkins 배포 테스트
  apps/client/src/pages/home/home-page.tsx
Due: eslint, prettier

docs: README.md에서 협업 문화 항목 수정
  README.md
Due: prettier

docs: README.md에서 피쳐 브랜치 제목 수정
  README.md
Due: prettier

feat: commitlint에 'Merge' 및 'merge' 타입 추가
  commitlint.config.cjs
Due: none

feat: '@vanilla-extract/recipes' 패키지 추가 및 버전 업데이트
  pnpm-lock.yaml
Due: prettier

feat: chip 컴포넌트 구현
  apps/client/src/pages/home/home-page.tsx
  packages/bds-ui/src/components/chip/chip.css.ts
  packages/bds-ui/src/components/chip/chip.tsx
  packages/bds-ui/src/components/index.ts
Due: eslint, prettier

feat: @vanilla-extract/recipe 의존성 설치
  packages/bds-ui/package.json
  pnpm-lock.yaml
Due: prettier

feat: chip 공동 컴포넌트 구현
  apps/client/src/pages/home/home-page.tsx
  packages/bds-ui/src/components/chip/chip.css.ts
  packages/bds-ui/src/components/chip/chip.tsx
Due: eslint, prettier

style: global.css.ts에서 html, body의 position 속성 정리
  packages/bds-ui/src/styles/global.css.ts
Due: eslint, prettier

feat: '@vanilla-extract/recipes' 패키지 추가
  apps/client/package.json
  pnpm-lock.yaml
Due: prettier

chore: chromatic 패키지 설치
  packages/bds-ui/package.json
  pnpm-lock.yaml
Due: prettier

chore: Chromatic을 위한 GitHub Actions workflow 추가
  .github/workflows/chromatic.yml
Due: none

chore: 배포 성공 text 수정
  .github/workflows/chromatic.yml
Due: none

feat: ToastContainer 추가
  apps/client/src/app/App.tsx
Due: eslint, prettier

feat: 아이콘 체크 심볼로 변경 및 ToastContainer와 ToastItem 추가
  packages/bds-icon/src/icon/check.svg
  packages/bds-ui/package.json
  packages/bds-ui/src/components/index.ts
  packages/bds-ui/src/styles/tokens/width.ts
Due: eslint, prettier

feat: useTimeout 훅 추가하여 지연된 콜백 실행 기능 구현
  packages/bds-ui/src/components/toast/hooks/use-timeout.ts
Due: eslint, prettier

feat: ToastItem 컴포넌트 추가 및 자동 닫힘 기능 구현
  packages/bds-ui/src/components/toast/toast-item.tsx
Due: eslint, prettier

chore: recipes 패키지 설치
  packages/bds-ui/package.json
  pnpm-lock.yaml
Due: prettier

feat: navigation 컴포넌트 구현
  apps/client/src/pages/home/home-page.tsx
  packages/bds-ui/package.json
  packages/bds-ui/src/components/index.ts
  packages/bds-ui/src/components/navigation/navigation.css.ts
  packages/bds-ui/src/components/navigation/navigation.tsx
  pnpm-lock.yaml
Due: eslint, prettier

chore: className 오류 수정
  packages/bds-ui/src/components/navigation/navigation.tsx
Due: eslint, prettier

feat: tab-provider 구현
  packages/bds-ui/src/components/tab/tab-provider.tsx
Due: eslint, prettier

feat: Tab 컴포넌트 기본 구조 구현
  packages/bds-ui/src/components/tab/tab.tsx
Due: eslint, prettier

feat: Tab 컴파운드 패턴 구현
  packages/bds-ui/src/components/tab/tab.css.ts
  packages/bds-ui/src/components/tab/tab.tsx
Due: eslint, prettier

Path conditions:
  eslint: any of: *.{js,ts,jsx,tsx}
  prettier: any of: *.{js,ts,jsx,tsx,json,yaml,md,prettierrc}
