Repository team-bohumme/bohumme-client: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier

eslint:
  run: npx eslint {staged_files} --fix
  stage_fixed: true

prettier:
  run: npx prettier --write {staged_files}
  stage_fixed: true

chore: 주석 삭제
  lefthook.yml
Due: none

chore: 커밋 타입 정리
  commitlint.config.mjs
Due: none

fix: push에서 불필요한 중복 확인 수정
  lefthook.yml
Due: none

feat: icon 추가
  packages/design-system/src/icons/icon/3D_icon_add_inform.svg
  packages/design-system/src/icons/icon/3D_icon_logo.svg
  packages/design-system/src/icons/icon/3D_icon_shield.svg
  packages/design-system/src/icons/icon/logo_2d.svg
  packages/design-system/src/icons/icon/logo_3d.svg
  packages/design-system/src/icons/icon/logotype.svg
Due: none

fix: home-page 파일 위치 변경
  apps/client/src/pages/home/home-page.tsx
Due: eslint, prettier

feat: 나머지 icon들 추가
  apps/client/public/.gitkeep
  apps/client/public/icons/glass_icon_bulb.svg
  apps/client/public/icons/glass_icon_chat.svg
  apps/client/public/icons/glass_icon_document.svg
  apps/client/public/icons/glass_icon_post.svg
  packages/design-system/src/icons/icon-list.ts
Due: eslint, prettier

chore: lazy에 home-page 변경된 위치 반영
  apps/client/src/shared/router/lazy.ts
Due: eslint, prettier

fix: 파일 구조 수정
  .github/scripts/commitlint-wrapper.sh
  commitlint.config.cjs
  commitlint.config.mjs
  lefthook.yml
Due: none

refactor: icon 위치 변경
  apps/client/public/glass_icon_bulb.svg
  apps/client/public/glass_icon_chat.svg
  apps/client/public/glass_icon_document.svg
  apps/client/public/glass_icon_post.svg
Due: none

chore: discord 알림 .yml 파일 생성
  .github/workflows/discord-notify.yml
Due: none

feat: Storybook 설정 파일 삭제
  .storybook/main.ts
  .storybook/preview.ts
Due: eslint, prettier

chore: 커밋 테스트 주석 추가
  apps/client/src/shared/api/config/instance.ts
Due: eslint, prettier

chore: 커밋 테스트 주석 삭제
  apps/client/src/shared/api/config/instance.ts
Due: eslint, prettier

feat: 커밋테스트
  apps/client/src/shared/api/config/instance.ts
Due: eslint, prettier

chore: pr comment 설정
  .github/workflows/discord-notify.yml
Due: none

chore: svg를 webp로 변경 및 dependences 설정
  apps/client/public/glass_icon_bulb.svg
  apps/client/public/glass_icon_bulb.webp
  apps/client/public/glass_icon_chat.svg
  apps/client/public/glass_icon_chat.webp
  apps/client/public/glass_icon_document.svg
  apps/client/public/glass_icon_document.webp
  apps/client/public/glass_icon_post.svg
  apps/client/public/glass_icon_post.webp
  packages/bds-icon/package.json
  packages/bds-icon/src/components/icon.tsx
  pnpm-lock.yaml
Due: eslint, prettier

feat: area-hidden props 설정
  packages/bds-icon/src/components/icon.tsx
Due: eslint, prettier

chore: 컴포넌트 경로 변경
  packages/bds-icon/src/components/icons/icon.css.ts
  packages/bds-icon/src/components/icons/icon.tsx
  packages/bds-icon/src/index.ts
Due: eslint, prettier

chore: App 컴포넌트에서 Icon 제거
  apps/client/src/app/App.tsx
Due: eslint, prettier

chore: App 컴포넌트에서 svg-sprite 임포트 제거
  apps/client/src/app/App.tsx
Due: eslint, prettier

chore: Vite 설정 및 Storybook 구성 추가
  apps/client/package.json
  apps/client/vite.config.ts
  package.json
  packages/bds-ui/.storybook/main.ts
  packages/bds-ui/.storybook/preview.ts
  packages/bds-ui/package.json
  packages/bds-ui/src/stories/Introduction.mdx
  pnpm-lock.yaml
  vite.config.ts
Due: eslint, prettier

docs: README.md에 BOFIT 팀 정보 추가
  README.md
Due: prettier

Update README.md
  README.md
Due: prettier

docs: README.md에서 폴더 구조 정리 및 주석 추가
  README.md
Due: prettier

docs: README.md에 코딩 컨벤션 및 그라운드 룰 섹션 추가
  README.md
Due: prettier

docs: README.md에 BOFIT 팀 기술 스택 섹션 추가 및 기술 스택 아이콘 추가
  README.md
Due: prettier

docs: README.md에 단체사진자리 섹션 추가
  README.md
Due: prettier

docs: README.md에 컴포넌트, 폴더명, 타입, 변수, 함수, 메소드, 스타일, Storybook, React 섹션 추가 및 규칙 정리
  README.md
Due: prettier

docs: README.md에 코딩 컨벤션 섹션의 세부 사항 추가 및 구조 개선
  README.md
Due: prettier

docs: README.md에서 중복된 코딩 컨벤션 섹션 제거
  README.md
Due: prettier

docs: README.md에 팀 그라운드 룰 및 코드 리뷰 규칙 추가
  README.md
Due: prettier

docs: README.md에서 협업 문화 섹션의 목록 형식 개선
  README.md
Due: prettier

docs: README.md에 섹션 구분을 위한 수평선 추가
  README.md
Due: prettier

Path conditions:
  eslint: any of: *.{js,ts,jsx,tsx}
  prettier: any of: *.{js,ts,jsx,tsx,json,yaml,md,prettierrc}
